.navbar {
    direction: rtl !important;
    font-family: "AdvertisingBold";
}


.navbar-nav {
    display: flex !important;
    flex-direction: row !important; 
    padding-right: 0 !important;
    margin-right: 0 !important;
    width: 100%; 
}


.navbar-brand {
    margin-left: 20px !important; 
    margin-right: 0 !important;
}


.nav-item {
   margin-right:13px ;
}