
:root {
    --primary-teal: #0d9488;
    --primary-teal-hover: #0f766e;
    --primary-teal-light: #f0fdfa;
    --text-main: #1e293b;
    --text-muted: #64748b;
    --border-color: #e2e8f0;
    --bg-page: #f8fafc;
}



.Toastify__toast {
  border-radius: 20px !important;
  font-family: 'Cairo', sans-serif!important; 
  direction: rtl; 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}


.Toastify__progress-bar--info {
  background: #3b82f6 !important;
}


.Toastify__toast-body {
  font-size: 14px;
  font-weight: 800!important;
  padding: 10px;
}